<div class="row">
    <div class="col-md-6">

        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Dati Anagrafici</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        Nome:
                        <h5 class="text-muted">
                            <small>{{selectedContract?.dati_anagrafici?.name}}</small>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Cognome:
                        <h5 class="text-muted">
                            <small>{{selectedContract?.dati_anagrafici?.surname}}</small>
                        </h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        Cognome:
                        <h5 class="text-muted">
                            <small>{{selectedContract?.dati_anagrafici?.surname}}</small>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Cognome:
                        <h5 class="text-muted">
                            <small>{{selectedContract?.dati_anagrafici?.surname}}</small>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Cognome:
                        <h5 class="text-muted">
                            <small>{{selectedContract?.dati_anagrafici?.surname}}</small>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Cognome:
                        <h5 class="text-muted">
                            <small>{{selectedContract?.dati_anagrafici?.surname}}</small>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Cognome:
                        <h5 class="text-muted">
                            <small>{{selectedContract?.dati_anagrafici?.surname}}</small>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Cognome:
                        <h5 class="text-muted">
                            <small>{{selectedContract?.dati_anagrafici?.surname}}</small>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Cognome:
                        <h5 class="text-muted">
                            <small>{{selectedContract?.dati_anagrafici?.surname}}</small>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Cognome:
                        <h5 class="text-muted">
                            <small>{{selectedContract?.dati_anagrafici?.surname}}</small>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">

        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Dati Gestore</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        Nome:
                        <h5 class="text-muted">
                            <small>{{selectedContract?.dati_anagrafici?.name}}</small>
                        </h5>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>