<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class=" col-md-8 align-self-center justify-content-md-center">
                <div class="card-header">
                    <h4 class="card-title text-center">Nuovo Gestore</h4>
                </div>
                <div class="card-body">
                    <form #packageForm="ngForm" class="md-float-material" (submit)="save(packageForm.valid)">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nome" name="name" [(ngModel)]="manager.name" name="nome" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="m-0 form-group custom-control py-2 custom-switch bg-light">
                                    <label class="custom-control-label font-weight-bold m-0">Abilitato</label>
                                    <input type="checkbox" class="custom-control-input" [(ngModel)]="manager.enabled" name="enabled">
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="m-0 form-group custom-control py-2 custom-switch bg-light">
                                    <button type="button" (click)="openModalWithClass(modal)" class="btn btn-link"><i class="nc-icon nc-simple-add"></i> aggiungi pacchetto</button>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Salva</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <ng-container>
        <ng-template #modal>
            <div class="modal-header">
                <h4 class="modal-title pull-left">Pacchetto</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
<span aria-hidden="true">×</span>
</button>
            </div>
            <div class="modal-body">
                <form #packageForm="ngForm">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nome" [(ngModel)]="package.name" name="nome" required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="closeModal()">Chiudi</button>
                <button type="submit" class="btn btn-primary" (click)="addPackage()">Aggiungi</button>
            </div>
        </ng-template>
    </ng-container>