<div class="container-fluid">
  <div class="login-card card-body auth-body">
    <div class="card-header border-0">
      <h5 class="card-title text-center m-0">Login</h5>
    </div>
    <div class="card-body">
      <form #loginUserForm="ngForm" class="md-float-material" (submit)="onSubmit(loginUserForm.valid)">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username" [(ngModel)]="loginUser.username"
                name="username" required>
                <span class="md-line"></span>
            </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="loginUser.password"
            name="password" required>
          <span class="md-line"></span>
        </div>
        <div class="row m-t-25 text-left">
          <div class="col-sm-7 col-xs-12">
            <div class="checkbox-fade fade-in-primary">
              <label>
                <input type="checkbox" value="">
                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                <span class="ml-1 text-inverse">Remember me</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center col-xs-12 forgot-phone">
              <p class="f-w-600 text-inverse text-danger"> {{passwordErrorMsg}}</p>
          </div>
        </div>
        <div class="row m-t-30">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign
              in</button>
          </div>
        </div>
        <hr />
      </form>
    </div>
  </div>
</div>
