<div class="row justify-content-center">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Nuovo <input (keydown.i)="onKeydown($event)"></h4>
            </div>
            <div class="card-body">
                <form [formGroup]="contractForm" (ngSubmit)="onSubmit(contractForm.valid)">
                    <ngb-tabset>
                        <ngb-tab title="Dati Anagrafici" id="anagrafici">
                            <ng-template ngbTabContent>
                                <div class="col-md-12">
                                    <div class="card card-user">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-5 pr-1">
                                                    <div class="form-group">
                                                        <label>Rag.Soc./Cognome *: </label>
                                                        <input type="text" class="form-control" placeholder="Ragione Sociale / Cognome" formControlName="surname">
                                                        <p class="text-danger" *ngIf="surname.invalid && (surname.dirty || surname.touched)">*campo richiesto</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 px-1">
                                                    <div class="form-group">
                                                        <label>Nome : </label>
                                                        <input type="text" class="form-control" placeholder="Nome" formControlName="name" >
                                                    </div>
                                                </div>
                                                <div class="col-md-4 pl-1">
                                                    <div class="form-group">
                                                        <label>Luogo di nascita:</label>
                                                        <input type="text" class="form-control" placeholder="Luogo di nascita" formControlName="placeOfBirth">
                                                        <p class="text-danger" *ngIf="placeOfBirth.invalid && ( placeOfBirth.dirty|| placeOfBirth.touched)">*campo richiesto
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 pr-1">
                                                    <div class="form-group">
                                                        <label>Data Di Nascita *:</label>
                                                        <input type="date" class="form-control" placeholder="" formControlName="dateOfBirth" >
                                                        <p class="text-danger" *ngIf="dateOfBirth.touched && dateOfBirth.invalid">*campo richiesto
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 pl-1">
                                                    <div class="form-group">
                                                        <label>Codice Fiscale *:</label>
                                                        <input type="text" class="form-control text-uppercase" placeholder="Codice Fiscale" formControlName="fiscalCode" maxlength="16">
                                                        <p class="text-danger" *ngIf="fiscalCode.touched && fiscalCode.invalid">*campo richiesto
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Partita IVA *:</label>
                                                        <input type="text" class="form-control" placeholder="Partita Iva" formControlName="partitaIVA">
                                                        <p class="text-danger" *ngIf="partitaIVA.touched && partitaIVA.invalid">*campo richiesto</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" formGroupName="addressGroup">
                                                <div class="col-md-2 mb-3 pr-1">
                                                    <div class="form-group">
                                                        <label>Tipo Indirizzo *:</label>
                                                        <select class="custom-select" name="addressType" formControlName="addressType">
                              <option value="" selected>Seleziona</option>
                              <option *ngFor="let key of addressTypeKeys" [ngValue]="key">{{addresTypes[key]}}</option>
                            </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 px-1">
                                                    <div class="form-group">
                                                        <label>Indirizzo *:</label>
                                                        <input type="text" class="form-control" placeholder="Indirizzo" formControlName="address">

                                                    </div>
                                                </div>
                                                <div class="col-md-2 pl-1">
                                                    <div class="form-group">
                                                        <label>N° civico *:</label>
                                                        <input type="text" class="form-control" placeholder="Numero Civico" formControlName="addressNumber">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 pl-1">
                                                    <div class="form-group">
                                                        <label>C.A.P. *:</label>
                                                        <input type="text" class="form-control" placeholder="C.A.P." formControlName="zipCode">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 pl-1">
                                                    <div class="form-group">
                                                        <label>Località *:</label>
                                                        <input type="text" class="form-control" placeholder="Località" formControlName="location">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4 pr-1">
                                                    <div class="form-group">
                                                        <label>Cellulare *:</label>
                                                        <input type="text" class="form-control" placeholder="Cellulare" formControlName="phoneNumber">
                                                        <p class="text-danger" *ngIf="phoneNumber.touched && phoneNumber.invalid">*campo richiesto
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 pl-1">
                                                    <div class="form-group">
                                                        <label>Altro Telefono:</label>
                                                        <input type="text" class="form-control" placeholder="Altro Telefono" formControlName="otherNumber">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 pl-1">
                                                    <div class="form-group">
                                                        <label>Email *:</label>
                                                        <input type="email" class="form-control" placeholder="Email" formControlName="email">
                                                        <p class="text-danger" *ngIf="email.touched && email.invalid">*campo richiesto</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr>

                                            <div class="row" formGroupName="document">
                                                <div class=" col-md-2 mb-3 pr-1">
                                                    <div class="form-group">
                                                        <label>Tipo Documento *:</label>
                                                        <select class="custom-select" formControlName="documentType">
                              <option value="" selected>Seleziona</option>
                              <option *ngFor="let docTypeKey of docTypeKeys" [ngValue]="docTypeKey">
                                {{docTypes[docTypeKey]}}</option>
                            </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-3 pl-1">
                                                    <div class="form-group">
                                                        <label>N° Documento *:</label>
                                                        <input type="text" class="form-control" placeholder="N° Documento" formControlName="documentNumber">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 pl-1">
                                                    <div class="form-group">
                                                        <label>Luogo Emissione *:</label>
                                                        <input type="text" class="form-control" placeholder="Luogo Emissione" formControlName="placeOfIssue">

                                                    </div>
                                                </div>
                                                <div class="col-md-2 pl-1">
                                                    <div class="form-group">
                                                        <label>Data Emissione *:</label>
                                                        <input type="date" class="form-control" placeholder="N° Documento" formControlName="dateOfIssue">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 pl-1">
                                                    <div class="form-group">
                                                        <label>Data Scadenza *:</label>
                                                        <input type="date" class="form-control" placeholder="N° Documento" formControlName="expiryDate">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Dati Gestore" id="gestore" formGroupName="managerData">
                            <ng-template ngbTabContent>
                                <div class="col-md-12">
                                    <div class="card card-user">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6 mb-3 pr-1">
                                                    <label>Gestore *:</label>
                                                    <select class="custom-select" formControlName="manager" (ngModelChange)="changedManager($event)">
                            <option value="" selected>seleziona</option>
                            <option *ngFor="let item of gestori" [ngValue]="item" >{{item.name}}</option>

                          </select>
                                                </div>
                                                <div class="col-md-6 mb-3 pl-1">
                                                    <label>Pacchetto *:</label>
                                                    <select class="custom-select" formControlName="package">
                            <option value="" selected>seleziona</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                                                </div>
                                            </div>

                                            <ng-container *ngIf="panel1Shown">
                                                <div class="form-extra">
                                                    <div class="row">
                                                        <div class="col-md-6 pr-1">
                                                            <div class="form-group">
                                                                <label>Copertura :</label>
                                                                <select class="custom-select" formControlName="coverage">
                                  <option value="" selected>Seleziona</option>
                                  <option *ngFor="let item of coperture" [ngValue]="item">{{item}}</option>

                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 pl-1">
                                                            <div class="form-group">
                                                                <label>Opzioni Aggiuntive :</label>
                                                                <select class="custom-select" formControlName="additionalOptions">
                                  <option value="" selected>Seleziona</option>
                                  <option *ngFor="let item of opzioniAggiuntive" [ngValue]="item">{{item}}</option>

                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 pr-1">
                                                            <div class="form-group">
                                                                <label>Portabilità :</label>
                                                                <select class="custom-select" formControlName="portability">
                                  <option value="" selected>Seleziona</option>
                                  <option *ngFor="let item of portabilita" [ngValue]="item">{{item}}</option>

                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 pl-1">
                                                            <div class="form-group">
                                                                <label>Num. da portare:</label>
                                                                <input type="text" class="form-control" placeholder="Num. da portare" formControlName="portabilityNumber">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 pr-1">
                                                            <div class="form-group">
                                                                <label>Seiale SIM Vodafone Station :</label>
                                                                <input type="text" class="form-control" placeholder="Seiale SIM Vodafone Station" formControlName="vodafoneStationSerial">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 pl-1">
                                                            <div class="form-group">
                                                                <label>Stato SIM :</label>
                                                                <select class="custom-select" formControlName="simStatus">
                                  <option value="">Seleziona</option>
                                  <option *ngFor="let key of EStatoSimKeys" [ngValue]="key">{{EStatoSims[key]}}</option>

                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 pr-1">
                                                            <div class="form-group">
                                                                <label>Data Attivazione :</label>
                                                                <input type="date" class="form-control" placeholder="" formControlName="activationDate">

                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 pl-1">
                                                            <div class="form-group">
                                                                <label>Seriale SIM Operatore :</label>
                                                                <input type="text" class="form-control" placeholder="" formControlName="serialSimOperator">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 pr-1">
                                                            <div class="form-group">
                                                                <label>Gestore di Provenienza :</label>
                                                                <input type="text" class="form-control" placeholder="" formControlName="managerOfOrigin">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 pl-1">
                                                            <div class="form-group">
                                                                <label>Seriale Nuova SIM Voce :</label>
                                                                <input type="text" class="form-control" placeholder="" formControlName="newSimSerial">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 pr-1">
                                                            <div class="form-group">
                                                                <label>Codice Migrazione :</label>
                                                                <input type="text" class="form-control" placeholder="" formControlName="migrationCode">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 pl-1">
                                                            <div class="form-group">
                                                                <label>Tipo SIM :</label>
                                                                <select class="custom-select" formControlName="simType">
                                  <option value="">Seleziona</option>
                                  <option *ngFor="let item of tipoSim" [ngValue]="item">{{item}}</option>

                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="panel2Shown">
                                                <div class="form-extra-2">
                                                    <div class="row">
                                                        <div class="col-md-6 pr-1">
                                                            <div class="form-group">
                                                                <label>POD :</label>
                                                                <input type="text" class="form-control" placeholder="" formControlName="pod">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 pl-1">
                                                            <div class="form-group">
                                                                <label>PDR :</label>
                                                                <input type="text" class="form-control" placeholder="" formControlName="pdr">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 pr-1">
                                                            <div class="form-group">
                                                                <label>Matricola :</label>
                                                                <input type="text" class="form-control" placeholder="" formControlName="serialNumber">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 pl-1">
                                                            <div class="form-group">
                                                                <label>Precedente Fornitore:</label>
                                                                <input type="text" class="form-control" placeholder="" formControlName="previousSupplier">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>

                                            <div class="">
                                                <small class="text-white bg-success font-weight-bold px-1">Indirizzo sede impianto</small>
                                                <div class="row" formGroupName="plantAddressGroup">
                                                    <div class="col-md-2 mb-3 pr-1">
                                                        <label>Tipo Indirizzo *:</label>
                                                        <select class="custom-select" formControlName="plantAddressType">
                              <option value="">Seleziona</option>
                              <option *ngFor="let key of addressTypeKeys" [ngValue]="key">{{addresTypes[key]}}</option>
                            </select>
                                                   
                                                    </div>
                                                    <div class="col-md-4 px-1">
                                                        <div class="form-group">
                                                            <label>Indirizzo *:</label>
                                                            <input type="text" class="form-control" placeholder="Indirizzo" formControlName="plantAddress">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 pl-1">
                                                        <div class="form-group">
                                                            <label>N° *:</label>
                                                            <input type="text" class="form-control" placeholder="Numero Civico" formControlName="plantAddressNumber">
                                                 
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 pl-1">
                                                        <div class="form-group">
                                                            <label>C.A.P. *:</label>
                                                            <input type="text" class="form-control" placeholder="C.A.P." formControlName="plantZipCode">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 pl-1">
                                                        <div class="form-group">
                                                            <label>Località *:</label>
                                                            <input type="text" class="form-control" placeholder="Località" formControlName="plantLocation">
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="btn bg-info m-0 mb-1" (click)="copyToPlant($event)">Copia da Dati
                          Anagrafici</button>
                                            </div>

                                            <hr>
                                            <div class="">
                                                <small class="text-white bg-success font-weight-bold px-1">Indirizzo spedizione merce</small>
                                                <div class="row" formGroupName="shippingAddressGroup">
                                                    <div class="col-md-2 mb-3 pr-1">
                                                        <label>Tipo Indirizzo *:</label>
                                                        <select class="custom-select" formControlName="shippingAddressType">
                              <option value="">Seleziona</option>
                              <option *ngFor="let key of addressTypeKeys" [ngValue]="key">{{addresTypes[key]}}</option>
                            </select>
                                                     
                                                    </div>
                                                    <div class="col-md-4 px-1">
                                                        <div class="form-group">
                                                            <label>Indirizzo *:</label>
                                                            <input type="text" class="form-control" placeholder="Indirizzo" formControlName="shippingAddress">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 pl-1">
                                                        <div class="form-group">
                                                            <label>N° *:</label>
                                                            <input type="text" class="form-control" placeholder="Numero Civico" formControlName="shippingAddressNumber">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 pl-1">
                                                        <div class="form-group">
                                                            <label>C.A.P. *:</label>
                                                            <input type="text" class="form-control" placeholder="C.A.P." formControlName="shippingZipCode">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 pl-1">
                                                        <div class="form-group">
                                                            <label>Località *:</label>
                                                            <input type="text" class="form-control" placeholder="Località" formControlName="shippingLocation">
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="btn bg-info m-0 mb-1" (click)="copyToShipping()">Copia da Dati Anagrafici</button>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Note</label>
                                                        <textarea class="form-control textarea" formControlName="note"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Dati contabili" id="contabili" formGroupName="accountingData">
                            <ng-template ngbTabContent>
                                <div>
                                    <div class="col-md-12">
                                        <div class="card card-user">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class=" col-md-6 mb-3 pr-1">
                                                        <div class="form-group">
                                                            <label>Stato Pratica:</label>
                                                            <select class="custom-select" formControlName="fileStatus">
                                <option value="">Seleziona</option>
                                <option *ngFor="let key of EStatoPraticaTypeKeys" [ngValue]="key">
                                  {{EStatoPraticaTypes[key]}}</option>

                              </select>
                                                        </div>
                                                    </div>
                                                    <div class=" col-md-6 mb-3 pr-1">
                                                        <div class="form-group">
                                                            <label>Tipo di Pagamento:</label>
                                                            <select class="custom-select" formControlName="paymentType" (ngModelChange)="changedAccounting($event)">
                                <option value="">Seleziona</option>
                                <option *ngFor="let key of paymentTypeKeys" [ngValue]="key">{{paymentTypes[key]}}
                                </option>

                              </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-user-details" *ngIf="panel3Shown">
                                                    <div class="row">
                                                        <div class="col-md-4 pr-1">
                                                            <div class="form-group">
                                                                <label>Cognome Intestatario : </label>
                                                                <input type="text" class="form-control" placeholder="Cognome" formControlName="cardUserSurname">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 px-1">
                                                            <div class="form-group">
                                                                <label>Nome Intestatario : </label>
                                                                <input type="text" name="cardUserName" class="form-control" placeholder="Nome" formControlName="cardUserName">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 pl-1">
                                                            <div class="form-group">
                                                                <label>Codice Fiscale Intestatario :</label>
                                                                <input type="text" name="cardUserFiscalCode" class="form-control text-uppercase" placeholder="Codice Fiscale" formControlName="cardUserFiscalCode">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="carta-di-credito" *ngIf="panel1Shown">
                                                    <div class="row">
                                                        <div class="col-md-3 pr-1">
                                                            <div class="form-group">
                                                                <label>Tipo Carta :</label>
                                                                <!-- <select class="custom-select" name="cardType" class="form-control" placeholder="" required ngModel #cardType="ngModel" [(ngModel)]="contract.accountingData.cardType">
                                                                  <option value="">Seleziona</option>
                                                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select> -->
                                                                <input type="text" class="form-control" placeholder="Tipo Carta" formControlName="cardType">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5 px-1">
                                                            <div class="form-group">
                                                                <label>Numero Carta : </label>
                                                                <input type="text" class="form-control" placeholder="Numero Carta" formControlName="creditCardNumber">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 pl-1">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Data Scadenza Carta :</label>
                                                                <input type="month" class="form-control" placeholder="" formControlName="creditCardExpiryDate">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="conto-corrente" *ngIf="panel2Shown">
                                                    <div class="row">
                                                        <div class="col-md-6 pr-1">
                                                            <div class="form-group">
                                                                <label>Codice IBAN : </label>
                                                                <input type="text" class="form-control text-uppercase" placeholder="Codice IBAN" formControlName="IBANcode">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class=" col-md-6 mb-3 pr-1">
                                                        <div class="form-group">
                                                            <label>Pagata:</label>
                                                            <select class="custom-select" formControlName="paymentStatus">
                                <option value="">Seleziona</option>
                                <option value="No">No</option>
                                <option value="Yes">Si</option>
                              </select>
                                                        </div>
                                                    </div>
                                                    <div class=" col-md-6 mb-3 pr-1">
                                                        <div class="form-group">
                                                            <label>Incassato Da Brand:</label>
                                                            <select class="custom-select" formControlName="cashedByBrand">
                                <option value="">Seleziona</option>
                                <option value="No">No</option>
                                <option value="Yes">Si</option>
                              </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class=" col-md-6 mb-3 pr-1">
                                                        <div class="form-group">
                                                            <label>Probabile Provvigione Agente:</label>
                                                            <!-- <select class="custom-select" name="commissionAgent" [(ngModel)]="contract.accountingData.commissionAgent">
                                                              <option value="">Seleziona</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select> -->
                                                            <input class="form-control" id="commissionAgent" type="number" value="42" min="0" max="9999" step="0.01" placeholder="0" formControlName="commissionAgent">

                                                        </div>
                                                    </div>
                                                    <div class=" col-md-6 mb-3 pr-1">
                                                        <div class="form-group">
                                                            <label>Agenzia:</label>
                                                            <select class="custom-select" formControlName="agent">
                                <option value="">Seleziona</option>
                                <option *ngFor="let agenzia of agenzie" [ngValue]="agenzia">{{agenzia}}</option>

                              </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Allegati" id="allegati">
                            <ng-template ngbTabContent>
                                <div>
                                    <div class="col-md-12">
                                        <div class="card card-user">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-4 mb-3 pr-1">
                                                        <div class="custom-file">
                                                            <label class="custom-file-label">Nessun file selezionato</label>
                                                            <input type="file" class="custom-file-input">
                                                        </div>
                                                        <div class="btn btn-default"> Carica PDA
                                                            <input type="submit" hidden>
                                                        </div>
                                                    </div>
                                                    <div class=" col-md-8 mb-3 pr-1">
                                                        <div class="custom-file">
                                                            <label class="custom-file-label">Nessun file selezionato</label>
                                                            <input type="file" class="custom-file-input">
                                                        </div>
                                                        <div class="btn btn-default">Carica Modulo Avvenuto Incontro Col Cliente
                                                            <input type="submit" hidden>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class=" col-md-6 mb-3 pr-1">
                                                        <div class="custom-file">
                                                            <label class="custom-file-label">Nessun file selezionato</label>
                                                            <input type="file" class="custom-file-input">
                                                        </div>
                                                        <div class="btn btn-default">Altro File 1
                                                            <input type="submit" hidden>
                                                        </div>
                                                    </div>
                                                    <div class=" col-md-6 mb-3 pr-1">
                                                        <div class="custom-file">
                                                            <label class="custom-file-label">Nessun file selezionato</label>
                                                            <input type="file" class="custom-file-input">
                                                        </div>
                                                        <div class="btn btn-default">Altro File 2
                                                            <input type="submit" hidden>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                    <div class="">
                        <button type="submit"class="btn btn-primary">Registra</button>
                        <button (click)="registraBozza($event)" class="btn btn-primary">Registra Bozza</button>
                        <button class="btn btn-primary" (click)="print($event)">Stampa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="overlay" aria-hidden="true" aria-labelledby="staticBackdropLabel" *ngIf="modal">
    <div class="container text-center pl-0 pr-0">
      <h5 class="display-6 bg-light py-2">
        <svg width="20" height="20" fill="currentColor" class="bi bi-exclamation-circle text-danger" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
        </svg>
        Conferma</h5>
      <div class="modal-description">
        Vuoi salvare l'utente?
      </div>
     <div class="button d-flex justify-content-around">
         <button class="modal-button btn btn-danger " (click)="closeModal($event)">No</button>
         <button class="modal-button btn btn btn-primary">Sì</button>
     </div>
    </div>
  </div>