.custom-select.ng-touched.ng-invalid,
.form-control.ng-invalid.ng-touched {
  border: 1px solid red;
}

.form-extra label,
.form-extra-2 label,
.carta-di-credito label,
.conto-corrente label,
.card-user-details label {
  font-weight: bold;
  padding: 0 .2rem;
}

/* Modal Style */
.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: auto;
  background: #fff;
  border-radius: .5rem;
  overflow: hidden;
}
h2{
  margin: 1rem 0;
}
.button{
  padding: 0;
  margin: 0.5rem 0 1rem;
  width: 100%;
}
.modal-button button{
  width: calc(100% / 2);
  padding: 0.2rem;
}
.overlay{
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.308);
  transition: 0.5s;
  z-index: 9999;
}
/* modal ends here */