<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Elenco Contratti</h4>
                <button type="button" class="btn btn-primary btn-round" (click)="goToNew()"><i class="nc-icon nc-simple-add"></i> aggiungi</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                Sel
                            </th>
                            <th>
                                Agente
                            </th>
                            <th>
                                Cod.Contr.
                            </th>
                            <th>
                                Gestore/Pacchetto
                            </th>
                            <th>
                                Note
                            </th>
                            <th>
                                Data Pratica
                            </th>
                            <th>
                                Stato Pratica
                            </th>
                            <th>
                                Nominativo
                            </th>
                            <th>
                                Codice Fiscale
                            </th>
                            <th>
                                Sim V.F.
                            </th>
                            <th class="text-right">
                                Azioni
                            </th>
                        </thead>
                        <tbody *ngIf="data; else noDato">
                            <tr>
                                <td>
                                    Dakota Rice
                                </td>
                                <td>
                                    Niger
                                </td>
                                <td>
                                    Niger
                                </td>
                                <td>
                                    Niger
                                </td>
                                <td>
                                    Niger
                                </td>
                                <td>
                                    Niger
                                </td>
                                <td>
                                    Niger
                                </td>
                                <td>
                                    Niger
                                </td>
                                <td>
                                    Niger
                                </td>
                                <td>
                                    Oud-Turnhout
                                </td>
                                <td class="text-right">
                                    $36,738
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template class=""  #noDato>
    <div class="" style="background: #E3E3E3;">Nessun dato disponibile</div>
</ng-template>